@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f3f2ef; /* Light gray/blue tint like LinkedIn */
  --foreground: #191919;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, sans-serif; /* Fallback */
}
